.main {
  display: flex;
  height: 10vh;
  width: 100vw;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.signInButton, .signOutButton{
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 2em;
  font-size: 1.3em;
  transition: all .2s ease-in-out;
  margin-right: 1em;
}

.signInButton {
  padding: .4em 1em .4em 1em;
}

.signOutButton {
  padding: .4em .8em .4em .8em;
}


.signInButton:hover, .signOutButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.avatar {
  border-radius: 2rem;
  float: left;
  height: 2.8rem;
  width: 2.8rem;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid white;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
} 

